body {
  background-color: #9ac7e8;
}

#title {
  text-align: center;
}

#description {
  text-align: center;  
}

#survey-form {
  margin-left: 100px;
  padding: 10px auto;
} 

#name-label {
  margin: 1px;
}
